/* Estilos generales */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(152, 223, 228);
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilos de la barra de navegación */
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Estilos del héroe */
  
  .hero {
    background-image: url('hero-image.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 100px;
    text-align: center;
  }
  
  h2 {
    font-size: 40px;
    margin-top: 0;
  }
  
  .cta-btn {
    display: inline-block;
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;
  }
  
  /* Estilos de las secciones */
  
  .section {
    padding: 50px 0;
    text-align: center;
  }
  
  .service {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  

  .service img {
    width: 150px;
    height: 150px;
    border-radius: 30%;
  }
  
  .service h3 {
    margin-top: 10px;
  }
  
  .testimonial {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .testimonial img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .testimonial blockquote {
    margin: 0;
  }
  
  /* Estilos del footer */
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  
  
  /* Estilos para el formulario de adopción */

form label {
    font-weight: bold;
  }
  
  form input[type="text"],
  form input[type="email"],
  form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  
  form textarea {
    height: 100px;
  }
  
  form button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #45a049;
  }
  
  form .error-message {
    color: red;
    font-weight: bold;
    margin-top: -10px;
    margin-bottom: 10px;
  }